/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 15, 15;
  --background-start-rgb: 15, 15, 15;
  --background-end-rgb: 15, 15, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(32, 32, 32);
}

.dark body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Existing styles */
.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.object-position-end {
  object-position: right center;
}

.min-vh-100 {
  min-height: 100vh;
}

/* Custom hover effect for nav links */
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

/* Dark mode specific styles */
.dark .btn-light {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.dark .btn-light:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark .form-control {
  background-color: rgb(32, 32, 32);
  color: white;
  border-color: rgb(48, 48, 48);
}

.dark .form-control::placeholder {
  color: rgb(170, 170, 170);
}

.dark .btn-outline-secondary {
  color: white;
  border-color: rgb(48, 48, 48);
}

.dark .btn-outline-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
